.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.5;
    border-bottom: 1px solid #ccc;
    padding-bottom: 3px;
    margin-bottom: .5rem;
}

.capy-facts-area {
    flex: 1 0 0;
}

.capy-figure {
    flex: 1 0 0;
    padding: 0 0 0 1rem;

    img {
        border: 1px solid #000;
    }
}

.table-of-contents {
    ol {
        margin: 0 0 0 1.5rem;
    }

    background: #ddd;
    padding: .5rem;
    border: 1px solid #d6d6d6;
    width: 200px;
}